
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '_base/_utilities';
@import 'components/buttons';
@import 'components/form';

@import 'resources/sass/chemist';
@import 'pages/cart';
@import 'pages/checkout';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}



.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #4d4d4d !important;
    border-color: #4d4d4d !important;
}
.admin_playzone .col-sm-4 {
    background-color: #ffffff;
}
.sidenav h4{
    color: #fff;
    margin-left: 20px;
    border-bottom: 1px solid #ccc;
    margin-right: 18px;
    padding-bottom: 10px;
}

.btn-primary {
    color: #fff;
    background-color: #3554bc !important;
    border-color: #3d3e3f !important;
    text-transform: capitalize;
}

.btn-info {
    color: #fff;
    background-color: #3d4343;
    border-color: #2e2f2f;
    margin-top: 15px;
}

input[type=number].order {
    width: 100%
}

.search-product-image {
    height: 300px;
}

.currency-input {
    position: relative;
    display: block;
}
.currency-input input {
    padding-left: 20px;
    display: inline-block;
}
.currency-input:before {
    position: absolute;
    top: 0;
    left: 8px;
    font-size: 20px;
    font-weight: 500;
    content: "£";
}

.price-strike{
    font-size: 16px;
    color: #acacac;
}

.cookie-popup {
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    width: 100%;
    z-index: 99;
    box-shadow: 0px 0px 10px #888888;
}

.filter-block {
    border: 1px solid #000000;
}

.filter-block h4 {
    padding: 15px 15px 5px 25px;
}

.filter-block ul {
    list-style: none
}

.sort-select {
    -webkit-appearance: menulist;
    font-size: 15px;
    border: 1px solid;
    margin-left: 5px;
}

.zoom-effect header {
    height: 148px;
    width: 100%;
    text-align: center;
}

img.cat-img {
    max-width: 100%;
    max-height: 100%;
}