.settings-sidebar {
  background-color: #4d4d4d;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 35px 0;
}

.clear-disconnected{
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff !important;
  border-radius: 28px;
  background-color: #11a2cf;
  padding: 6px 12px;
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
.settings{
  font-size: 24px;
  line-height: 30px;
  padding-left: 40px;
  color: #f3f3f3;
  border-bottom: 2px solid #999999;
  padding-bottom: 40px;
  margin-bottom: 20px;
  font-weight: 700;
}

.settings-sidebar ul {
  margin-top: 33px;
}

.settings-sidebar ul li{
  padding: 0;
}

.settings-sidebar ul li a{
  display: block;
  text-align: left;
  margin: 20px 0;
  padding: 0;
  color: #999999;
  font-size: 18px;
  font-weight: 400;
}

.settings-sidebar ul li a.active, .settings-sidebar ul li a:hover{
  color:#fff;
  border: none;
  background: transparent;
}

.btn-notification{
  width: 252px !important;
  height: 41px;
  border-radius: 21px;
  border: 1px solid #595959;
  background-color: #595959;
  color:#fff;
}
.save-changes{
  width: 164px !important;
}

.setting_checkbox input[type="checkbox"]{
  width: auto;
  display: inline;
}

.setting_checkbox label{
  width: auto;
  display: inline;
  top: 2px;
  position: relative;
}


.dealer_logo {
  padding: 25px 20px 10px;
  border-radius: 10px;
  max-width: 214px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.customer_vehicle_form .dealer_logo{
  background-color: #e1e1e1;
  max-width: 100%;
}

.customer_vehicle_form .picture{
    margin-left: 16px;
    height: auto;
    color: #000;
}

.customer_vehicle_form .picture-container{
      margin-top: -1px !important;
    margin-left: -2px;
}

.normal_text{
  font-weight: 400 !important;
}

.alert_setting select{
  height: 41px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  background: transparent;
  width: 100%;
  max-width: 420px;
}

.dealer_setting_img img, .dealer_logo_url{
  max-width: 150px;
  width: 100%;
}

.geo-fench-setup{
  background: #fff;
  // box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 35px 0 40px 30px;

}


.page-heading{
  color: #000000;
  font-size: 30px;
  font-weight: 500;
  line-height: 24px;
}

#tabination_section{
  padding: 30px 40px;
}


#tabination_section select,
#tabination_section input
{
    margin-bottom: 30px;
    height: 50px;
    font-size: 18px !important;
}
#tabination_section select{
  color: #999999;
}

#tabination_section textarea{
  margin-bottom: 30px;
  color: #999999;
  resize: none;
  font-size: 18px !important;
}
.top_user_menu li:hover{
    cursor: pointer;
}
#tabination_section .red_bg{
  // background-color: #ccc !important;
      box-shadow: none !important;
}

#tabination_section input::placeholder,
#tabination_section textarea::placeholder{
  color: #999999;
  font-weight: 400;
}

#tabination_section input:-ms-input-placeholder,
#tabination_section textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999999;
  font-weight: 400;
}

#tabination_section input::-ms-input-placeholder,
#tabination_section textarea::-ms-input-placeholder { /* Microsoft Edge */
  color: #999999;
  font-weight: 400;
}

#tabination_section input[type="submit"],
#tabination_section input[type="reset"]{
  font-weight: 400;
  font-size: 18px;
  /*text-transform: uppercase;*/
}

#tabination_section select{
  background: url('/img/select_icon.png') no-repeat 96% 50%;
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #cccccc;
    font-size: 18px;

}

/*css for notification browser*/

.grid-header {
  background: #333333;
  color: #999999;
  margin-top: 35px;
  padding: 15px;
}

.not-setting {
  margin-top: 40px;
  margin-left: 14px;
}

.grid-column{
  margin-top: 40px;

  padding-left: 12px;
}

.manage-notification{
  margin-top: 30px;
  margin-bottom: 38px;
  margin-left: 28px;
}

.notification-settings .onoffswitch-inner:before{

  background-color: #41a7da !important;

}

.rcv-notification{
  font-size: 18px !important;
  font-weight: 400 !important;
}


/* menu */

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.top-nav .col-sm-2 li,
.top-nav .col-sm-8 li{
  padding: 0;
}

.top-nav li{
  display:inline-block;
}

li{
  display:block;
}


.top-nav ul .dropdown-menu li a:hover{
    color: #000000 !important;
}
.top-nav ul li.active a{
  color:#000;
}

.container-wrapper{
  width: 100%;
  max-width: 1810px;
  margin: 0 auto;
}

.clear{
  clear: both;
}

.not-setting{
  font-size: 24px;
  font-weight: 200;
  line-height: 30px;
}

.browser-notification{
  font-size: 16px;
  font-weight: 200;
  line-height: 30px;
  margin-top:70px;
}
.top-nav {
    text-align: center;
    background-color: #ffffff;
}

.top-nav ul li.active a {
    color: #000;
}

.top-nav ul li a {
    padding: 56px 32px 0px;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #8b8b8b;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}


.customer_vehicle_form .picture {
    margin-left: 16px;
    height: auto;
    color: #000;
}

.card_img_box {
    padding: 40px 20px 36px !important;
}

.card_img_box {
    padding: 25px 20px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    max-width: 214px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.create-form-group input[type="text"] {
    background: #fff;
    height: 50px;
    margin-top: 15px;
    font-weight: 100;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    color: #999999;
    font-size: 18px;
    font-weight: 400;
}

.create-form-group input, .create-form-group img {
    width: 100%;
    margin: 21px 0 0 0;
}
.form-control {
    padding: 0.375rem 0.5rem !important;
}

.clear-search {
    background-color: #cccccc !important;
}
.common_link {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background-color: #28abd5;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 400;
    -webkit-box-shadow: 0 10px 12px rgba(38, 105, 149, 0.32), inset 0 1px 2px #ffffff;
    box-shadow: 0 10px 12px rgba(38, 105, 149, 0.32), inset 0 1px 2px #ffffff;
}
.top_20 {
    margin-top: 20px;
}

.map-search {
    width: 100%;
    height: 50px;
}

.create-form-group input[type="submit"] {
   background: #28abd5;
    border: none;
    padding: 10px 9px;
    border-radius: 25px;
    color:#fff;
}
.common_link:active, .common_btn:active {
    background-color: #4dcff9;
    -webkit-box-shadow: 0 10px 12px rgba(38, 105, 149, 0.32), inset 0 1px 2px #ffffff;
    box-shadow: 0 10px 12px rgba(38, 105, 149, 0.32), inset 0 1px 2px #ffffff;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition: background 0.5s;
}
.common_link:hover, .common_btn:hover {
    text-decoration: none;
    color: #fff;
    background: #4dcff9;
    -webkit-transition: background 1s;
    position: relative;
    -webkit-box-shadow: 0 10px 12px rgba(38, 105, 149, 0.32), inset 0 1px 2px #ffffff;
    box-shadow: 0 10px 12px rgba(38, 105, 149, 0.32), inset 0 1px 2px #ffffff;
}

.top_50 {
    margin-top: 50px !important;
}

.btn-back img {
    width: 8px;
    height: 15px;
    margin-top: -1px;
    margin-right: 8px;
}

.text-area{

    height: 200px;

}


@media only screen and (max-width: 425px){
    div#reg {
    width: 5% !important;
}
label#reged {
    width: 90% !important;
}
}
@media only screen and (max-width: 320px){
  
label#reged {
    width: 86% !important;
}
}