      

        @media only screen and (max-width: 2000px){
.row.featured-video .new-section p {
    font-size: 19px;
}
.row.featured-video .new-section {
    padding: 106px;
    height: 419px;
    }
    .menu-product .product-list {
     height: 540px ; 
 
}
#mobilemenu .cart-section .cart-table-row .cart-table-row-right {
    width: 36%;
    padding-top: 29px;
}
#topHeader .cart-basket-block {
      display: block !important;
        padding: 2px 3px !important;
 }
#topHeader .fa.fa-sign-out {
    font-size: 21px;
}
}
        @media only screen and (max-width: 1440px){
.product-list .main-product {
    height: 415px;
    padding: 90px;
    width: 365px;
}
.row.featured-video .new-section {
    padding: 50px;
    height: 316px;
}
.menu-product .product-list {
     height: 355px ; 
 
}
#topHeader .cart-basket-block img{
    width: 25%;
} 
#topHeader span.cart-block-admin {
    margin-left: -30px;
    margin-right: 16px;
    margin-bottom: 15px;
}

}

    @media only screen and (max-width: 1024px){
.row.featured-video img {
    height: 100%;
}
.row.featured-video .new-section {
    padding: 45px;
}
.main-product a.btn.link-btn {
    margin: auto !important;
}
.product-list .main-product {
    height: 270px;
    padding: 55px;
    width: 271px;}

.row.featured-video .new-section p{
    font-size: 19px ;
}
.cart-section .cart-table-row .cart-table-row-right {
    width: 37%!important;
    padding-top: 10px;
}
.menu-product .product-list {
     height: 270px ; 
 
}
#topHeader .col-sm-3.header:nth-child(1){
    width: 10%;
}
#topHeader .col-sm-6.header {
    width: 50%;
    margin-right: 21px;
    margin-left: -20px;
}
#topHeader .col-sm-3.header:nth-child(2){
    width:40%;
}
span.logout {
    display: none;
}

.col-sm-12 .hidden-part .right-art{
    padding:0px,0px,0px,0px;
    margin-bottom:0px;
}
#app .form-group input{
    padding:0px;

}
#topHeader span.cart-block-admin {
    margin-left: 0px;
    margin-bottom: 0px;
}

}

@media only screen and (max-width: 768px){
.menu-product .product-list {
     height: 216px ; 
 
}
.footer h5 {
    padding-bottom: 0px;
    }
.product-list .main-product a {
    margin: auto !important;
}
.product-list .main-product {
    height: 100%;
    width: 100%;
    padding: 60px 15px !important
}
.col-sm-12.text-center a.btn.link-btn.margin-top-60 {
    margin: 10px auto;
}
.col-sm-12 p.text-center.welcome-para  {
    width: 100%;
}
.new-section p {
    font-size: 12px !important;
}
.cart-section .cart-table-row .cart-table-row-right {
    width: 44%!important;
  }
.row.featured-video .col-sm-8 img {
    height: 100%;
}

.row.featured-video .new-section {
    padding: 29px;
    height: auto;
}
.right-side {
    padding: 22px 50px;
}
div#top-header a {

    margin-top: 16px;
}
section.homepage- {
    padding: 0px;
}
button.navbar-toggler {
    background: white;
}
.vedio-ambassador   .row.quality-part {
    width: 100%;
    height: 265px;
}
.organic-product .display-product p {
    font-size: 13px !important;
}
.col-sm-12.hidden-part {
        height: 317px;
   }

}

@media only screen and (max-width: 425px){

#topHeader.position-relative .cart-basket-block {
        margin-top: 5px;
}
#topHeader .cart-basket-block img {
    width: 50%;
}
#top-header a.navbar-brand {
    margin: 0% 20%;
    margin-bottom: -13px !important;
    width: 52%;
    margin-top: -30px;
}
.main-menu {
    margin-top: -41px;
    padding-top: 20px;
}
.cart-search-section {
    margin-top: 0px;
}

.position-absolute.cart-display {
    top: 0px;
}
#topHeader .fa.fa-sign-out {
    font-size: 21px;
   
}
#topHeader.input-group {
        width: 100%!important;
}
.footer {
    padding: 5px 0px ;
    text-align: inline;
    }
.product-list .main-product {
     padding: 100px 90px !important;
}
.menu-product .col-sm-4 {
    padding: 1px !important;
    height: 339px !important;
    width: 100% !important;
}
.vedio-ambassador .row.quality-part {
    width: 100%;
    height: 340px;
}
.row.cart-search-section .input-group {
    margin: auto;
    right: 20%;
}
.col-sm-8.quality-assurance {
    height: 100%;
}
.row.main-menu .col-sm-2 .right-side {
    padding: 10px 10px;
    position: relative;
    margin-top: -36px;
}

.menu-product .col-sm-4 {
    
        background-size: cover !important;
   
    margin-bottom: 0px;
}
.checkout-section .checkout-table-container {
    margin-left: 0;
    margin-top: 30px;
}
.checkout-section {
    display: initial;
}
.col-sm-12 .hidden-part .right-art{
    padding: 0px;
  
}
.menu-product .product-list {
   height: 335px ;
}
.col-sm-12.hidden-part {
       height: 176px;
  }
  .col-sm-4.organic-product {
    display: none;
}
a.page-link {
    padding: 5px 5px;
}
.col-sm-12.hidden-part ul li h4 {
    font-size: 12px;
}
}
@media only screen and (max-width: 375px){
.menu-product .col-sm-4 {
    padding: 1px !important;
    height: 299px !important;
}
.col-sm-12.hidden-part {
    height: 155px;
}
.col-sm-12.hidden-part ul li h4 {
    font-size: 10px;
            line-height: 0.8;

}
.button {
    border: 1px solid #212121;
    padding: 11px 11px;
}
label.form-check-label {
    margin-left: 12px;
    padding-top: 2px;
}
}
@media only screen and (max-width: 320px){
    .menu-product .col-sm-4 {
    height: 250px !important;
}
.product-list .main-product {
    padding: 60px 50px !important;
}
 /*.checkout-section .checkout-table-container {
    margin-left: 32px !important;
}*/
#mobileMenu .cart-basket-block {
        padding: 10px 1px !important;
   }

#mobileMenu .cart-basket-block img {
        width: 34%;
}
.col-sm-12.hidden-part {
    height: 133px;
}
.col-sm-12.hidden-part ul li h4 {
font-size: 7px;
line-height: 0.2;

}

 }


