<template>
  <div class="checkout-block">
    <v-expansion-panel v-model="panel" expand>
      <v-expansion-panel-content  @input="onInputWelcome($event)">
        <v-icon slot="actions" color="primary">$vuetify.icons.expand</v-icon>
        <div slot="header">Welcome</div>
        <v-card>
          <v-card-text class="grey lighten-3">
            <checkout-login :user="user" @next-tab="billingExpand"></checkout-login>
            <!-- <slot name="user-info"></slot> -->
          </v-card-text>
        </v-card>
      </v-expansion-panel-content>

      <v-expansion-panel-content @input="onInputBilling($event)" :disabled="checkButtonClicked">
        <v-icon slot="actions" color="primary">$vuetify.icons.expand</v-icon>
        <div slot="header">Pay with Paypal</div>
        <v-card>
          <v-card-text class="grey lighten-3">
            <slot name="billing-details"></slot>
          </v-card-text>
        </v-card>
      </v-expansion-panel-content>

      <v-expansion-panel-content @input="onInputPayment($event)" :disabled="checkButtonClicked">
        <v-icon slot="actions" color="primary">$vuetify.icons.expand</v-icon>
        <div slot="header">Pay with Stripe</div>
        <v-card>
          <v-card-text class="grey lighten-3">
            <slot name="stripePayment"></slot>
          </v-card-text>
        </v-card>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </div>
</template>

<script>
  import CheckoutLogin from './CheckoutLogin'
  export default {
    props: ['user'],
    data() {
      return {
        panel: [true, false, false],
        billingStatus: true,
        checkButtonClicked: true,
      }
    },
    components: {
      CheckoutLogin
    },
    methods: {
      billingExpand() {
        this.checkButtonClicked = false
        this.billingStatus = false
        this.panel = [false, true, false]
      },
      onInputWelcome(isOpen) {
        if(isOpen) {
          this.panel = [true, false, false]
        }
      },
      onInputBilling(isOpen) {
        if(isOpen) {
          this.panel = [false, true, false]
          $('.stripe-button-el').removeClass('d-none');
        } else {
          $('.stripe-button-el').addClass('d-none');
        }
      },
      onInputPayment(isOpen) {
        if(isOpen) {
          this.panel = [false, false, true]
        }
      },
    }
  }

</script>

<style>

  .checkout-block .theme--light.v-expansion-panel .v-expansion-panel__container {
    border: 1px solid rgba(0,0,0,.12);
    margin-bottom: 20px;
  }
  .checkout-block .v-expansion-panel__container:first-child {
    border-top: 1px solid rgba(0,0,0,.12) !important;
  }

  .checkout-block .v-expansion-panel {
    background-color: transparent;
    box-shadow: none;
  }

</style>