<template>
	<div>
		<select :name="name" :id="id" class="quantity cart-qty-select" v-model="item.qty">
		        <option v-for="i in parseInt(quantity)" :value='i'>{{ i }}</option>
		</select>
	</div>
</template>
<script>
	export default {
		props: ['id', 'name', 'item', 'className', 'availableQuantity'],
		data() {
			return {
				quantity: (this.availableQuantity)?this.availableQuantity:100
			}
		},
		mounted() {
			let dropdown = $('#' + this.id);
			let self = this;
			setTimeout(function(){
	            dropdown.select2({
	            	width: 50,
	            	dropdownCssClass: self.className
	            })
	        }, 100)
	        dropdown.on('select2:select', this.onQuantityChange);
		},
		methods: {
			onQuantityChange(event) {

				let value = $(event.currentTarget).find("option:selected").val();
				axios.patch(`/cart/`+this.item.rowId, {
				    quantity: value,
				    productQuantity: this.availableQuantity
				})
				.then(function (response) {
				    window.location.reload()
				})
				.catch(function (error) {
				    window.location.reload()
				});
			}
		}

	}
</script>