<template>
	<div class="delivery-options inline-block">
		<v-layout wrap align-center>
		<v-flex xs12 sm12 d-flex>
		        <v-select
		          v-model="select"
		          :hint="getHint(select.description)"
		          :items="options"
		          item-text="type"
		          item-value="description"
		          label="Delivery Options"
		          @change='updateDelivery'
		          persistent-hint
		          return-object
		          single-line
		          required
		        ></v-select>
		</v-flex>   
		</v-layout>     
		        <span class="text-danger" v-if="show">Please select the delivery option.</span>
	</div>
</template>

<script>
	export default {
		props: ['options', 'selected'],
		data () {
		      return {
		        select: this.selected,
		        items: this.options,
		        show: false
		      }
		},
		created() {
			window.Event.$on('empty-delivery', () => {
                this.show = true;
            });
		},
		methods: {
			getHint(description) {
				return (description=='undefined')?'':description;
			},
			updateDelivery(value) {
				axios.post(`/update-delivery`, {
				    delivery: value
				})
				.then(function (response) {
					window.location.reload()
				})
				.catch(function (error) {
				});
			}
		}

	}
</script>
<style>

	.delivery-options .v-menu {
		position: initial;
	}	
	.delivery-options .v-menu__content.theme--light.menuable__content__active {
		top: 20px !important;
		left: 0 !important;
	}
</style>