<template>
  <div class="delivery-action-block margin-top-15">
    <v-toolbar flat color="white">
      <v-toolbar-title>Delivery Lists</v-toolbar-title>
      
      <v-spacer></v-spacer>
      <v-dialog v-model="dialog" max-width="500px">
        <v-btn slot="activator" color="primary" dark class="mb-2">Add New</v-btn>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
                  <v-text-field v-model="editedItem.type" label="Delivery Type"></v-text-field>
                
                  <v-text-field v-model="editedItem.description" label="Description"></v-text-field>
                
                  <v-text-field v-model="editedItem.price" label="Price"></v-text-field>

                  <v-checkbox
                    v-model="editedItem.visible"
                    label="Visible"
                  ></v-checkbox>
                
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
            <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="deliveryLists"
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.type }}</td>
        <td class="text">{{ props.item.description }}</td>
        <td class="text">{{ props.item.price }}</td>
        <td class="text">{{ (props.item.visible)?'Yes':'No' }}</td>
        <td class="layout">
          <v-icon
            small
            class="mr-2"
            @click="editItem(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            small
            @click="deleteItem(props.item)"
          >
            delete
          </v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary" @click="initialize">Reset</v-btn>
      </template>
    </v-data-table>
  </div>
</template>

<script>
  export default {
    props: ['deliveries'],
    data: () => ({
      dialog: false,
      headers: [
        {
          text: 'Delivery Type',
          sortable: false,
          align: 'left',
          value: 'type'
        },
        { text: 'Description', sortable: false, value: 'description' },
        { text: 'Price', sortable: false, value: 'price' },
        { text: 'Visible', value: 'visible', sortable: false },
        { text: 'Actions', value: 'type', sortable: false }
      ],
      deliveryLists: [],
      editedIndex: -1,
      editedItem: {
        type: '',
        description: '',
        price: 0,
        visible: false
      },
      defaultItem: {
        type: '',
        description: '',
        price: 0,
        visible: false
      }
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      }
    },

    watch: {
      dialog (val) {
        val || this.close()
      }
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        this.deliveryLists = this.deliveries
      },

      editItem (item) {
        this.editedIndex = this.deliveryLists.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        const index = this.deliveryLists.indexOf(item)
        confirm('Are you sure you want to delete this item?') && this.delete(item, index)
      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save () {
        if (this.editedIndex > -1) {
          this.update(this.editedItem);
        } else {
          this.store(this.editedItem);
        }
        this.close()
      },
      store(value) {
        let self = this;
        axios.post(`/delivery`, {
            delivery: value
        })
        .then(function (response) {
          self.deliveryLists.push(response.data.delivery)
        })
        .catch(function (error) {
        });
      },
      update(value) {
        let self = this;
        axios.put(`/delivery/`+value.id, {
            delivery: value
        })
        .then(function (response) {
          Object.assign(self.deliveryLists[self.editedIndex], self.editedItem)
        })
        .catch(function (error) {
        });
      },
      delete(value, index) {
        let self = this;
        axios.delete(`/delivery/`+value.id, {
            delivery: value
        })
        .then(function (response) {
           self.deliveryLists.splice(index, 1)
        })
        .catch(function (error) {
        });
      }
    }
  }
</script>

<style>

  .delivery-action-block {
    margin-right: 20px
  }
  
  .delivery-action-block .v-dialog.v-dialog--active {
    max-width: 500px;
    max-height: initial;
    position: absolute;
    top: 20px;
  }

  .delivery-action-block .v-menu {
    position: initial;
  }
  .delivery-action-block .v-menu>.v-menu__content {
    top: 0 !important;
    left: 0 !important;
  }

</style>