<template>
	<div>
		<v-checkbox
		      label="Use same as Billing Details"
		      v-model="checkbox"
		      @change="toggleDeliveryDetails"
		    ></v-checkbox>
		<h2>Delivery Details</h2>

		<div class="form-group">
		    <label for="email">Email Address</label>
		        <input type="email" class="form-control" v-model="deliveryDetails.email" name="delivery_email" required>
		</div>
		<div class="form-group">
		    <label for="name">Name</label>
		    <input type="text" class="form-control" v-model="deliveryDetails.name" name="delivery_name" required>
		</div>
		<div class="form-group">
		    <label for="address">Address</label>
		    <input type="text" class="form-control" v-model="deliveryDetails.address" name="delivery_address" required>
		</div>

		<div class="half-form">
		    <div class="form-group">
		        <label for="city">Town/City</label>
		        <input type="text" class="form-control" v-model="deliveryDetails.city" name="delivery_city" required>
		    </div>
		    <div class="form-group">
		        <label for="province">County</label>
		        <input type="text" class="form-control" v-model="deliveryDetails.county" name="delivery_province" required>
		    </div>
		</div> <!-- end half-form -->

		<div class="half-form">
		    <div class="form-group">
		        <label for="postalcode">Postal Code</label>
		        <input type="text" class="form-control" v-model="deliveryDetails.postalCode" name="delivery_postalcode" required>
		    </div>
		    <div class="form-group">
		        <label for="phone">Phone (Optional)</label>
		        <input type="text" class="form-control" v-model="deliveryDetails.phone" name="delivery_phone">
		    </div>
		</div> <!-- end half-form -->

		<div class="spacer"></div>
	</div>
</template>
<script>
	
	export default {
		data() {
			return {
				checkbox: false,
				deliveryDetails: {
					email: '',
					name: '',
					address: '',
					city: '',
					county: '',
					postalCode: '',
					phone: '',
				}
			}
		},

		methods: {
			toggleDeliveryDetails(value) {
				if(value) {
					this.populateDeliveryDetails();
				} else {
					this.resetDeliveryDetails();
				}
			},
			populateDeliveryDetails() {
				this.deliveryDetails.email = $('#semail').val();
				this.deliveryDetails.name = $('#sname').val();
				this.deliveryDetails.address = $('#saddress').val();
				this.deliveryDetails.city = $('#scity').val();
				this.deliveryDetails.county = $('#sprovince').val();
				this.deliveryDetails.postalCode = $('#spostalcode').val();
				this.deliveryDetails.phone = $('#sphone').val();
			},
			resetDeliveryDetails() {
				this.deliveryDetails.email = '';
				this.deliveryDetails.name = '';
				this.deliveryDetails.address = '';
				this.deliveryDetails.city = '';
				this.deliveryDetails.county = '';
				this.deliveryDetails.postalCode = '';
				this.deliveryDetails.phone = '';
			}
		}
	}

</script>