<template>
  <div class="order-history-block">
    <v-toolbar flat color="white">
      <v-toolbar-title>Order History</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat>Link One</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="orders"
      :expand="expand"
      item-key="id"
    >
      <template slot="items" slot-scope="props">
        <tr @click="props.expanded = !props.expanded">
          <td>{{ props.item.id }}</td>
          <td>{{ props.item.created_at | moment("MMMM D, YYYY") }}</td>
          <td>{{ deliveryInfo(props.item) }}</td>
          <td>{{ props.item.delivery_price?'£'+props.item.delivery_price:'' }}</td>
          <td>{{ props.item.billing_discount?'£'+props.item.billing_discount:'' }}</td>
          <td>£{{ props.item.billing_tax }}</td>
          <td>£{{ props.item.billing_total }}</td>
          <td><a :href="`/re-order/${props.item.id}`" type="button" class="btn btn-success font-weight-bold">Re Order</a></td>
        </tr>
      </template>
      <template slot="expand" slot-scope="props">
        <v-card flat color="#d4d4d4">
          <v-card-text>
          	<order-history-details :order="props.item"></order-history-details>
          </v-card-text>
        </v-card>
      </template>
    </v-data-table>
  </div>
</template>

<script>
	import OrderHistoryDetails from './OrderHistoryDetails'
  export default {
  	props: ['orders'],
  	components: {
  		OrderHistoryDetails
  	},
    data () {
      return {
        expand: false,
        headers: [
          {
            text: 'Order Id',
            align: 'left',
            sortable: false,
            value: 'id'
          },
          { text: 'Date of Order', sortable: false, value: 'date_of_order' },
          { text: 'Delivery', sortable: false, value: 'delivery' },
          { text: 'Delivery Price', sortable: false, value: 'delivery_price' },
          { text: 'Discount', sortable: false, value: 'discount' },
          { text: 'Tax', sortable: false, value: 'tax' },
          { text: 'Amount', sortable: false, value: 'amount' },
          { text: 'Action', sortable: false, value: 'action' },
        ]
      }
    },
    methods: {
      reOrder(id) {
        window.location.href = '/re-order/'.id;
      },
      deliveryInfo(item) {
        if(item.delivery !== null) {
          return item.delivery.type+' ('+item.delivery.description+')';
        }
        return '';
      }
    }
  }
</script>

<style scoped>
  
  .order-history-block .v-menu>.v-menu__content {
    top: 0 !important;
    left: 0 !important;
}

</style>