<template>
  <v-data-table
    :headers="headers"
    :items="products"
    class="elevation-1"
  >
    <template slot="items" slot-scope="props">
      <td>{{ props.item.product.name }}</td>
      <td>£{{ props.item.product.price }}</td>
      <td>{{ props.item.product.potency }}</td>
      <td>{{ props.item.quantity }}</td>
    </template>
  </v-data-table>
</template>

<script>
  export default {
    props: ['products'],
    data () {
      return {
        headers: [
          {
            text: 'Product Name',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          { text: 'Price', sortable: false, value: 'price' },
          { text: 'Potency', sortable: false, value: 'potency' },
          { text: 'Ordered Quantity', sortable: false, value: 'ordered_quantity' }
        ]
      }
    }
  }
</script>