<template>
  <v-expansion-panel>
    <v-expansion-panel-content>
      <v-icon slot="actions" color="primary">$vuetify.icons.expand</v-icon>
      <div slot="header">Product Details</div>
      <v-card>
        <v-card-text class="grey lighten-3">
          <ordered-product-details :products="order.order_product"></ordered-product-details>
        </v-card-text>
      </v-card>
    </v-expansion-panel-content>
    <v-expansion-panel-content>
      <v-icon slot="actions" color="primary">$vuetify.icons.expand</v-icon>
      <div slot="header">Order Details</div>
      <v-card>
        <v-card-text class="grey lighten-3">
          <order-billing-info :details='order'></order-billing-info>
        </v-card-text>
      </v-card>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>
<script>
  import OrderedProductDetails from './OrderedProductDetails'
  import OrderBillingInfo from './OrderBillingInfo'

  export default {
    props: ['order'],
    components: {
      OrderBillingInfo,
      OrderedProductDetails
    }
  }

</script>